/* inter-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v12-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v12-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v12-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: 100%;
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: #e9f5ff;
}
main {
  background: #e9f5ff;
}
ul,
ol {
  list-style-type: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.container {
  width: 100%;
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}
.header {
  width: 100%;
  background-color: rgba(19, 145, 206, 0.7);
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  gap: 32px;
}
.nav__link {
  color: #25468a;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header-btn {
  margin-left: 32px;
  padding: 9px 18px;
  color: #14274c;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 24px;
  background: #fff;
}
.main {
  background: #e9f5ff;
}
.hero-container {
  display: flex;
  justify-content: space-between;
}
.main__content {
  display: flex;
  justify-content: space-between;
  margin-top: 92px;
}
.main__title h1 {
  color: #25468a;
  font-size: 92px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}
.title__text {
  color: #3b4a6b;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 42px;
}
.title__description {
  color: #3b4a6b;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}
.hero-btn {
  color: #3b4a6b;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
  padding: 15px 52px;
  border-radius: 26px;
  background: #f7ba0e;
  width: 264px;
}
.section1__list {
  display: flex;
  justify-content: center;
  margin-top: 176px;
  gap: 32px;
}
.section1__item {
  padding: 69px 34px;
  width: 100%;
  max-width: 352px;
  height: 189px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.88px;
  border-radius: 8px;
  background: #1391ce;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.05),
    0px 10px 15px 0px rgba(31, 100, 133, 0.1);
}
.section2__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  flex-direction: column;
  margin-top: 63px;
}
.section2__content h2 {
  width: 100%;
  max-width: 387px;
  color: #1391ce;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 121.3%;
  letter-spacing: 0.36px;
  text-align: center;
  margin-bottom: 16px;
}
.line {
  width: 160px;
  height: 8px;
  background-color: #f7ba0e;
  margin-bottom: 97px;
}
.img-and-content {
  display: flex;
  justify-content: space-between;
}
.section2__content-img {
  display: flex;
  justify-content: center;
  gap: 112px;
}
.section2__title {
  color: #25468a;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.section2__title__text {
  width: 448px;
  color: #1391ce;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 134.3%;
  letter-spacing: 0.32px;
  margin-bottom: 32px;
}
.section2__title__description {
  width: 448px;
  color: #4f4f4f;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%; /* 24.174px */
  letter-spacing: 0.36px;
}
.section3 {
  margin-top: 100px;
}
.section3__full {
  display: flex;
  justify-content: space-between;
}
.section3__text {
  margin-bottom: 16px;
  color: #25468a;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%;
  letter-spacing: 0.16px;
  text-transform: uppercase;
}
.section3 h3 {
  margin-bottom: 32px;
  width: 448px;
  color: #1391ce;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 134.3%;
  letter-spacing: 0.32px;
}
.section3__description {
  margin-bottom: 24px;
  width: 448px;
  color: #4f4f4f;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%;
  letter-spacing: 0.36px;
}
.section3 h4 {
  margin-bottom: 18px;
  width: 448px;
  color: #1391ce;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 134.3%;
  letter-spacing: 0.44px;
}
.section3__item {
  margin-bottom: 10px;
  width: 441px;
  color: #4f4f4f;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%;
  letter-spacing: 0.32px;
  display: flex;
}
.section3__item img {
  margin-right: 0;
  margin-right: 12px;
}
.section4__item {
  width: 408px;
  color: #4f4f4f;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%;
  letter-spacing: 0.36px;
  display: flex;
  margin-bottom: 8px;
}
.section4__item img {
  margin-right: 16px;
}



footer{
background: #1391ce;
}
.footer__container {
  padding: 32px 160px 69px;
}
.footer__line {
  border-bottom: none;
  height: 1px;
  background: #E3E3E3;
  margin-bottom: 21px;
}
.footer__list {
  display: flex;
  justify-content: space-between;
}
.footer__item {
  color: #302E2F;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 134.3%;
  letter-spacing: 0.16px;
}
.footer__item span {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
